nav, main, header, footer {
    margin-left: 300px;
}

.breadcrumbs {
    margin-left: 20px
}

.title {
    margin: 15px auto;
    text-align: center
}

tr td, tr th {
    padding-left: 20px;
    margin-right: 0px;
    padding-right: 0px;
}

tr td:nth-child(2), tr th:nth-child(2) {
    padding-left: 0px;
}